<div id="<%= dom_id announcement %>" class="animate__animated animate__fadeIn">
  <h3>
    <%= link_to announcement.title, announcement, target: "_top" %>
  </h3>
  <div>
    <%== announcement.content %>
  </div>
</div>
