<div class="card my-2">
  <div class="card-body">
    <% if notification.unread? %><b><% end %>
      <%= link_to notification.message, notification.url %>
    <% if notification.read? %></b><% end %>
  </div>
</div>
