<turbo-frame id="posts">
  <%= render @post %>

  <div>
    <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>

    <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger" %>
  </div>
</turbo-frame>